<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='inventory.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=inventory" />

    <title>Inventory</title>
</head>

<body>

    <header>
        <h1>Inventory</h1>
    </header>
    <section class="sidebar">
        <a href="">Inventory</a>
        <a href="">Staff Members</a>
        <a href="">Reports</a>
        <a href="">Settings</a>
    </section>
    <section class="tables">

    </section>
    <footer></footer>

</body>

</html>